.problem {
    padding: 20px;
    display: flex;
    /* flex-direction: column; */
}

table {
    text-align: center;
}

.coinRow {
    height: 30px;
    text-align: center;
}

.coinRow td {
    text-align: center;
    justify-content: center;
}

.coin {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    border: 1px solid gold;
    background-color: gold;
    vertical-align: middle;
    text-align: center;
}

.array td {
    width: 40px;
    height: 40px;
}

.array td:not(.current, .no-border) {
    border: 3px solid blue;
}

.dp td {
    width: 40px;
    height: 40px;
}

.dp td:not(.current, .no-border) {
    border: 3px solid blue;
}

/* .no-border {
    border: none;
} */

.current {
    border: 3px solid orangered;
}

.old {
    text-decoration: line-through;
    color: gray;
}

.new {
    color: red;
}

.btnbar {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: end;
}